
p {
    text-align: center;
    height: 15px;
    background-color: #292929;
    color:white;
    font-size: 14px;
    margin-top: 5px;
}

ion-input {
    font-family: 'Raleway-Light';
}

ion-button {
    margin-left: 38%;
    background: #FF5D00;
    color: white;
    margin-top: 50px;
}