
ion-title {
    font-size: 20px;
    font-weight: bolder;
}

.botonCrearP {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    height: 20px;
}


p {
    text-align: center;
    height: 15px;
    background-color: #292929;
    color:white;
    font-size: 14px;
    margin-top: 5px;
}

ion-list {
    margin-top: 20px;
}

ion-input {
    border-bottom: 0.5px solid #292929;
    font-family: Raleway-Light;
    margin-top: 10px;
    ion-label {
        color: black;
        font-weight: bold;
        padding-left: 20px;
    }
}


.btnAddPlayer {
    margin-top: 50px;
    margin-left: 25%;
    font-size: 40px;
    color: black;

    .iconAddPlayer {
        border-style: solid;
        border-color: #292929;
        border-radius: 50px;
        background-color: #FF5D00;
    }
}