<ion-header no-border>
  <ion-toolbar color="basketOrange">
      <ion-buttons slot="start">
          <ion-back-button text="" color="light" defaultHref="/"></ion-back-button>
          <ion-label color="light" slot="start">Grupo#</ion-label>
      </ion-buttons>
      <ion-title class="tituloAdmin" text-capitalize>EQUIPO#</ion-title>
      <ion-buttons slot="end">
          <ion-button class="botonCrearP" 
                      size="small"                      
                      routerLink="/admin-create-fixture-step1">
                      Guardar
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <p>JUGADORES</p>

    <form [formGroup]="frmAddPlayer">

        <ion-input type="text" placeholder="Ingrese el jugador" name="playerName">
            <ion-label slot="start">Nombre Jugador: </ion-label>
        </ion-input>


        <ion-grid>
            <ion-row>
                <ion-col size="6">
                        <ion-buttons class="btnAddPlayer">
                            <ion-button (click)="addPlayer()">
                                <ion-icon class="iconAddPlayer" size="large" name="add"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                </ion-col>
                <ion-col size="6">
                        <ion-buttons class="btnAddPlayer">
                            <ion-button>
                                <ion-icon class="iconAddPlayer" size="large" slot="end" name="remove"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>        

        <ion-list formArrayName="jugadores">
            <ion-input  *ngFor="let jugador of frmAddPlayer.controls['jugadores'].controls; let i = index"
                        [formControlName]="i"
                        type="text">
                <ion-label slot="start">Nombre Jugador:
                </ion-label>                
            </ion-input>
        </ion-list>

    </form>

    
</ion-content>