<app-headerbuttons titulo="registrarse"></app-headerbuttons>

<ion-content text-center>
    <br>
    <ion-item>
        <ion-label position="floating">Nombre completo</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Numero de cedula</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirmar correo electronico</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <br><br>
    <ion-label color="danger"><small>proximamente el administrador se pondra en contacto con usted </small></ion-label>
    <br><br>
    <ion-button color="basketOrange">
        <ion-label color="light">registrarse</ion-label>
    </ion-button>
</ion-content>