<ion-header no-border>
  <ion-toolbar color="basketOrange">
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="tituloAdmin" text-capitalize>AJUSTES</ion-title>
      <ion-buttons slot="end">
          <ion-button class="btnGuardar"
                      routerLink="/admin-create-csp-step2">
                      Siguiente
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="tituloGeneral">GENERAL</p>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="7">
        <ion-label>Ciudad</ion-label>
      </ion-col>
      <ion-col size="5">
        <ion-input style="font-family: 'Raleway-Light'" type="text" placeholder="Medellín"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col size="12">
        <ion-radio-group name="generoTorneo">
          <ion-item lines="none">
            <ion-label style="font-family: 'Raleway-Light'">Masculino</ion-label>
            <ion-radio color="basketOrange" value="men"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label style="font-family: 'Raleway-Light'">Femenino</ion-label>
            <ion-radio color="basketOrange" value="women"></ion-radio>
          </ion-item>       
      </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>PUNTOS</p>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-label>Puntos otorgados por ganar</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-input style="font-family: 'Raleway-Light'" type="number" placeholder="2"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-label>Puntos otorgados por perder</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-input style="font-family: 'Raleway-Light'" type="number" placeholder="1"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-label>Puntos otorgados por perder por W</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-input style="font-family: 'Raleway-Light'" type="number" placeholder="0"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
