<ion-header no-border>
    <ion-toolbar color="basketOrange">
        <ion-buttons slot="start">
            <ion-back-button class="backBtn" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize class="tituloAdmin">CREAR TORNEO</ion-title>
        <ion-buttons slot="end">
            <ion-button  (click)="crearTorneoNuevo()" class="botonCrearP">Crear</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
        <ion-icon class="trofeoCrear" name="trophy"></ion-icon>
    </ion-item>

    <!-- <ion-input  placeholder="Nombre del torneo"
            name="nombreTorneo"
            type="text"
            class="adminNombreTorneo"
            style="font-family: 'Raleway-Light'">
    </ion-input> -->

    <ion-item lines="none">
        <ion-icon name="arrow-dropdown" class="flechaAbajo"></ion-icon>
    </ion-item>

    <ion-item class="modalidadtorneo">
        <ion-icon   name="trophy"
                    slot="start">
        </ion-icon>
        <ion-label text-left><p style="font-weight: bold; font-family: 'Raleway-Light'">Grupos + Playoff </p><p style="font-family: 'Raleway-Light'">Varios grupos y un playoff <br> para ganar el torneo</p> </ion-label>
        <ion-checkbox checked
                    slot="end"
                    color="basketOrange">
        </ion-checkbox>
    </ion-item>
</ion-content>