
ion-title {
    font-size: 20px;
    font-weight: bolder;
}

.botonCrearP {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    height: 20px;
}

.trofeoCrear {
    font-size: 70px;
    color: #ffff;
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    border-radius: 50%;
    background-color: #FF5D00;
    box-shadow: -8px 10px 13px -1px rgba(0,0,0,0.65);
}

.adminNombreTorneo {
    text-align: center;
    width: 250px;
    height: 25px;
    margin-left: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.flechaAbajo {
    color: #292929;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40%;
}

.modalidadtorneo {
    border-color: gray;
    border-top: 10px;
    border-bottom: 10px;
}