<ion-header no-border>
    <ion-toolbar color="basketOrange">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize>CREAR TORNEO</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/admin-create-csp-step1">Crear</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
        <ion-icon name="trophy"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-input  placeholder="Nombre del torneo"
                    name="nombreTorneo"
                    type="text">
        </ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-item>

    <ion-item lines="none">
        <ion-icon   name="trophy"
                    slot="start">
        </ion-icon>
        <ion-label><p style="font-weight: bold">Grupos + Playoff </p>Varios grupos y un playoff <br> para ganar el torneo</ion-label>
        <ion-toggle checked
                    slot="end"></ion-toggle>
    </ion-item>
</ion-content>