<app-headerbuttons titulo="inicio"></app-headerbuttons>

<ion-content padding>
    <ion-item detail routerLink="">
        <ion-label>
            Torneo
        </ion-label>
    </ion-item>
    <ion-item detail>
        <ion-label>
            Ultimos Resultados
        </ion-label>
    </ion-item>
    <ion-item detail routerLink="/user-configurations">
        <ion-label>
            Perfil
        </ion-label>
    </ion-item>
    <ion-item detail routerLink="">
        <ion-label>
            Organizacion y Patrocinadores
        </ion-label>
    </ion-item>
</ion-content>