
ion-title {
    font-size: 20px;
    font-weight: bolder;
}


p {
    text-align: center;
    height: 15px;
    background-color: #292929;
    color:white;
    font-size: 14px;
    margin-top: 5px;
}

.botonCrearP {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    height: 20px;
}