
ion-title {
    font-size: 20px;
    font-weight: bolder;
}

p {
    text-align: center;
    height: 15px;
    background-color: #292929;
    color:white;
    font-size: 14px;
    margin-top: 5px;
}

ion-input {
    border-bottom: 0.5px solid #292929;
    font-family: Raleway-Light;
    margin-top: 10px;
    ion-label {
        color: black;
        font-weight: bold;
        padding-left: 20px;
    }
}

.flNombreEquipo {
    border: solid 1px #292929;
}

.btnAddTeam {
    margin-top: 50px;
    margin-left: 40%;
    font-size: 40px;
    color: black;

    .iconAddTeam {
        border-style: solid;
        border-color: #292929;
        border-radius: 50px;
        background-color: #FF5D00;
    }
}