<ion-header no-border>
  <ion-toolbar color="basketOrange">
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="tituloAdmin" text-capitalize>AGREGAR EQUIPOS</ion-title>
      <ion-buttons slot="end">
          <ion-button color="transparent">punto</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>CONFIGURACIÓN DE EQUIPOS</p>

  <ion-grid>    
    <ion-row>
      <ion-col class="btnAddTeam">
        <ion-buttons>
          <ion-button onclick="">
            <ion-icon class="iconAddTeam" size="large" 
                      name="add">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
