<ion-header no-border>
  <ion-toolbar color="basketOrange">
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="tituloAdmin" text-capitalize>PASO 2 DE 2</ion-title>
      <ion-buttons slot="end">
          <ion-button class="botonCrearP"
                      size="small"                      
                      routerLink="/admin-create-users">
                      Siguiente
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="configGrupos" >CONFIGURACIÓN DE EQUIPOS</p>

  <ion-grid>
    <ion-row class="rowNombreEquipo">
      <ion-col size="4">
        <ion-label>
          Grupo
        </ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-label>
          Nombre Equipo
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="btnAddTeam">
        <ion-buttons>
          <ion-button onclick="">
            <ion-icon class="iconAddTeam" size="large" 
                      name="add">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
