<ion-header no-border>
  <ion-toolbar color="basketOrange">
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="tituloAdmin" text-capitalize>AGREGAR EQUIPOS</ion-title>
      <ion-buttons slot="end">
          <ion-button color="transparent">punto</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>CONFIGURACIÓN DE EQUIPOS</p>

  <form [formGroup]="frmAddTeam">

    <ion-list formArrayName="equipos">      
      <ion-input  *ngFor="let equipo of frmAddTeam.controls['equipos'].controls; let i = index" 
                  [formControlName]="i" type="text"
                  routerLink="/admin-create-users"
                  >
                  <ion-label slot="start">Nombre Equipo: </ion-label>
      </ion-input>
    </ion-list>

    <ion-buttons class="btnAddTeam">
      <ion-button (click)="addTeam()">
        <ion-icon class="iconAddTeam" size="large" 
                  name="add">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </form>
      
</ion-content>
