<app-headerbuttons titulo="patrocinadores"></app-headerbuttons>

<ion-content>
    <ion-card>
        <ion-card-content>
        <ion-card-title>Trascender Global</ion-card-title>
        <ion-card-subtitle>Development</ion-card-subtitle>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Maxime velit ea 
            consectetur nostrum dolores fugiat iste,
            delectus laudantium facere dolore optio 
            minus quibusdam accusantium in laborum 
            voluptates numquam tempore accusamus.
        </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
            <ion-card-content>
            <ion-card-title>CodeScripters</ion-card-title>
            <ion-card-subtitle> <label> Developers <_ </label></ion-card-subtitle>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Maxime velit ea 
                consectetur nostrum dolores fugiat iste,
                delectus laudantium facere dolore optio 
                minus quibusdam accusantium in laborum 
                voluptates numquam tempore accusamus.
            </p>
            </ion-card-content>
        </ion-card>
</ion-content>