<ion-content padding>
    <h2>INICIA SESIÓN</h2>
    <ion-item>
        <ion-input  inputmode="email" 
                    placeholder="Correo Electrónico">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-input  inputmode="password"
                    placeholder="Contraseña"
                    minLenght="8">
        </ion-input>
    </ion-item>
    <ion-item lines="none">
        <small><a href="">¿Olvidaste tu contraseña?</a></small>
    </ion-item>
        
    <ion-button color="primary"
                type="submit">
        Iniciar Sesión
    </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
        Sponsored By:
  </ion-toolbar>
</ion-footer>