<ion-content padding text-center>
    <br><br><br>
    <h2 text-center>
        <ion-label color="light">INICIA SESIÓN</ion-label>
    </h2>
    <br><br>
    <ion-item color="transparent">
        <ion-input color="light" type="email" inputmode="email" placeholder="Correo Electrónico" text-center>
        </ion-input>
    </ion-item>
    <br>
    <ion-item color="transparent" text-center>
        <ion-input color="light" type="password" inputmode="password" placeholder="Contraseña" minLenght="8">
        </ion-input>
    </ion-item>
    <br>
    <ion-label text-center routerLink="/user-forgot-pw" color="light"><small>¿Olvidaste tu contraseña?</small></ion-label>
    <br><br><br>
    <ion-button color="dark" type="submit">
        Iniciar Sesión
    </ion-button>
    <br><br>
    <ion-label color="light" routerLink="/user-register"><small>Registrarse</small> </ion-label>
    <br><br><br>
    <br><br><br>
    <ion-footer>
        <ion-toolbar text-center color="transparent">
            <ion-label color="light">
                Sponsored By:
            </ion-label>
        </ion-toolbar>
    </ion-footer>
</ion-content>