<ion-content padding text-center scroll-y="false">
    <br><br><br>
    <h2 text-center>
        <ion-label color="light" style="font-weight: bolder">INICIA SESIÓN</ion-label>
    </h2>
    <br><br>
    <form [formGroup]="login" (ngSubmit)="loginInput()">
        <ion-input  type="email"
                    color="transparent"
                    inputmode="email" 
                    placeholder="Correo Electrónico" 
                    formControlName="EmailLogin"
                    text-center
                    style="font-family: 'Raleway-Light'; color:white; font-weight: bold">
        </ion-input>
        <br>
        <ion-input  type="password" 
                    color="transparent"
                    formControlName="PwLogin"
                    inputmode="password" 
                    placeholder="Contraseña"
                    minLenght="8"
                    style="font-family: 'Raleway-Light'; color:white; font-weight: bold"
                    >
        </ion-input>
    </form>
    <br>
    <ion-label  text-center 
                routerLink="/user-forgot-pw"
                >
                <small style="color: white; border-bottom: 1px solid #fff;font-size: 12px">
                    ¿Olvidaste tu contraseña?
                </small>
    </ion-label>
    <br><br><br>
    <ion-button [disabled]="!login.valid" 
                color="dark" type="submit" 
                (click)=loginInput()
                >
                Iniciar Sesión
    </ion-button>
    <br><br>
    <ion-label  style="color: white; border-bottom: 1px solid #fff;"
                routerLink="/user-register"
                >
                Registrarse
    </ion-label>

    <br><br><br>
    <br>
    
    <ion-button color="dark" routerLink="/user">
        GO TO USERVIEW
    </ion-button>

    <ion-button color="dark" routerLink="/admin">
        GO TO ADMINVIEW
    </ion-button>

    <ion-footer>
        <ion-toolbar text-center color="transparent">
            <ion-label color="light">
                Sponsored By: 
                <br>
                XXXXXXXXXXXXXXX
                <br>
                <small>Powered By: Trascender Global</small>
            </ion-label>
        </ion-toolbar>
    </ion-footer>
</ion-content>