<app-headerbuttons titulo="editar info"></app-headerbuttons>

<ion-content padding>
    <ion-card text-center>
        <ion-card-content>
            <ion-list>
                <ion-item lines="none">
                    <ion-avatar>
                        <img src="/assets/avatar.jpg">
                    </ion-avatar>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Cambiar Nombre</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>