<ion-header>
    <ion-toolbar color="basketOrange">
        <ion-buttons slot="start">
            <ion-back-button color="light" text="Atras" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onClick()">
                <ion-icon color="light" slot="icon-only" name="cog"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/cards.jpg">
                <ion-icon name="contact"></ion-icon>
            </ion-img>
            <ion-card-title text-center>Player</ion-card-title>
            <ion-card-subtitle text-center>ID: 0000</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-item-divider text-center color="dark">
        <ion-label>
            ESTADISTICAS
        </ion-label>
    </ion-item-divider>

    <ion-item text-center>
        <ion-label>
            PARTIDOS JUGADOS
        </ion-label>
    </ion-item>

    <ion-item text-center>
        <ion-label>
            PARTIDOS GANADOS
        </ion-label>
    </ion-item>

    <ion-item text-center>
        <ion-label>
            PUNTOS DOBLES
        </ion-label>
    </ion-item>

    <ion-item text-center>
        <ion-label>
            PUNTOS TRIPLES
        </ion-label>
    </ion-item>

    <ion-item text-center>
        <ion-label>
            PUNTOS TOTALES
        </ion-label>
    </ion-item>
    <ion-item-divider color="dark">
        <ion-label></ion-label>
    </ion-item-divider>
    <ion-item detail text-center>
        <ion-label>
            TORNEO
        </ion-label>
    </ion-item>
</ion-content>