<ion-header>
    <ion-toolbar color="basketOrange">
        <ion-buttons slot="start">
            <ion-back-button text="Atras" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/cards.jpg">
                <ion-icon name="contact"></ion-icon>
            </ion-img>
            <ion-card-title text="center">Player</ion-card-title>
            <ion-card-subtitle>ID: 0000</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>