<ion-header no-border>
  <ion-toolbar color="basketOrange">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloAdmin" text-capitalize>GRUPOS</ion-title>
    <ion-buttons slot="end">
      <ion-button color="transparent">punto</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <p>CONFIGURACIÓN DE GRUPOS</p>
  <ion-grid>
    <ion-row class="flIngresarGrupos">
      <ion-col size="10">
        <ion-label class="lbIngresarGrupos">Ingresar Número de Grupos</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-icon size="large" (click)="presentAlert()" name="add-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>LISTA DE GRUPOS</p>
  <ion-grid>
    <ion-row class="lsGrupos">
      <ion-col>
        <ion-label class="lbGrupos"
                  routerLink="/admin-create-csp-step3">Grupo A</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="lsGrupos">
      <ion-col>
        <ion-label class="lbGrupos"
                  routerLink="/admin-create-csp-step3">Grupo B</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content text-center>
  <form (ngSubmit)="crearGrupos(grupos); grupos.reset()" #grupos="ngForm">
    <ion-item>
      <ion-label style="font-family: 'Raleway-Light'" position="floating">Cantidad Equipos</ion-label>
      <ion-input type="number" name="PuntosW" [(ngModel)]="gruposT.cantidadEquipos" #PuntosW required
        style="font-family: 'Raleway-Light'"></ion-input>
    </ion-item>
    <br><br>
    <ion-button type="submit" color="basketOrange">
      <ion-label style="font-family: 'Raleway-Light'" color="light">
        Siguiente
      </ion-label>
    </ion-button>
  </form>
</ion-content>