
ion-title {
    font-size: 20px;
    font-weight: bolder;
}

p {
    text-align: center;
    height: 15px;
    background-color: #292929;
    color:white;
    font-size: 14px;
    margin-top: 5px;
}

.flIngresarGrupos {
    margin-bottom: 50px;
    ion-icon {
        margin-top: -5px;
    }
    .lbIngresarGrupos {
        padding-left: 20px;
    }
}

.lsGrupos {
    text-align: center;
}

.lbGrupos {
    border-bottom: 1px solid #000;
}