// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

//Variables

//estilos de las vistas admin

.tituloAdmin {
    font-size: 18px;
    color: white;
    text-align: center;
}

.backBtn {
    color: white;
}

.botonCrear {
    border-style: solid;
    border-width: 1.5px;
    border-color: white;
    border-radius: 5px;
    color: white;
}


.trofeoCrear {
    font-size: 70px;
    color: #ffff;
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 115px;
    border-radius: 50%;
    background-color: #FF5D00;
}

.adminNombreTorneo {
    text-align: center;
    width: 250px;
    height: 25px;
    margin-left: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.flechaAbajo {
    color: #0088D9;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 125px;
}

.modalidadtorneo {
    border-color: gray;
    border-top: 10px;
    border-bottom: 10px;
}

.configGrupos {
    color:white;
    text-align: center;
    background: #292929;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
}

.numeroGrupos {
    margin-left: 50px;
    .iconCreate {
        font-size: 30px;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-radius: 50px;
    }
}

.gruposTexto {
    padding-left: 20px;
}

.btnAddTeam {
    margin-top: 100px;
    margin-left: 140px;
    font-size: 40px;
    color: black;

    .iconAddTeam {
        border-style: solid;
        border-color: #292929;
        border-radius: 50px;
        background-color: #FF5D00;
    }
}

.rowNombreEquipo {
    border: solid 1px #292929;
}






