<ion-slides pager="true">
        <ion-slide class="slide-1">
           <ion-list>
               <h2>Tabla de posiciones</h2>
               <ion-list-header>
                   <h4><ion-label>Equipo | PJ | PG | PP | PW | P | PC | PPJ </ion-label></h4>   
               </ion-list-header>
               <ion-item>
                   <ion-label>Peperonis | 0 | 0 | 0 | 0 | 0 | 0 | 0 </ion-label>
               </ion-item>
               <ion-item>
                   <ion-label>Peperonis | 0 | 0 | 0 | 0 | 0 | 0 | 0 </ion-label>
               </ion-item>
           </ion-list>
           
        </ion-slide>

        <ion-slide class="slide-2">
            <ion-list text-left>

                <h2>Ganadores fecha X</h2>
                <ion-item>
                    <ion-label>Equpo X</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Equpo X</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Equpo X</ion-label>
                </ion-item>
                <h2>Perdedores fecha X</h2>
                <ion-item>
                    <ion-label>Equipo Y</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Equipo Y</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Equipo Y</ion-label>
                </ion-item>
                <h2>Maximos anotadores Triples</h2>
                <ion-item>
                    <ion-label>pastor lopez</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>pastor lopez</ion-label>
                </ion-item>
                <h2>Maximos anotadores Dobles</h2>
                <ion-item>
                    <ion-label>hector lavoe</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>hector lavoe</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
</ion-slides>